body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height:1.5;
    padding: 0px;
    margin:0px;
    background:#f4f4f4;
}
.container{
    width:80%;
    margin: auto;
    overflow: hidden;
}
ul{
    margin:0px;
    padding:0px;
}
.button_1{
    height:38px;
    background: #e8491d;
    border:0;
    padding: 0px 20px;
    color:#fff;
}
header{
    background:#35424a;
    color:#fff;
    padding-top:30px;
    min-height:70px;
    border-bottom:3px solid #e8491d;
}
.dark{
    padding:15px;
    background:#35424a;
    color:#ffffff;
    margin-top:10px;
    margin-bottom:10px;
  }
header a{
    color:#fff;
    text-decoration: none;
    text-transform:uppercase;
    font-size:16px;
}

header li{
    float:left;
    display:inline;
    padding:0px 20px;
}
header #branding{
   float: left;
}
header #branding{
    margin:0px;
}
header nav{
    float:right;
    margin-top:10px;
}
header .highlight, header .current a{
    color:#e8491d;
    font-weight: bold;
}
header a:hover{
    color:#ccc;
    font-weight: bold;
}
#showcase{
    min-height: 400px;
    background-image: url('../img/showcase.jpg');
    background-repeat: no-repeat;
    background-position:-400px;
    text-align: center;
    color:white;
}
#showcase h1{
    margin-top: 100px;
    font-size: 55px;
    margin-bottom: 10px;
}
#showcase p{
    font-size: 20px;
}
#newsletter{
    padding:15px;
    color:#fff;
    background:#35424a;
}
#newsletter h1{
    float:left;
}
#newsletter form{
    float:right;
    margin-top:15px;
}
#newsletter input[type="email"]{
    padding:4px; 
    height:25px;
    width:250px;
}
#boxes{
    margin-top:20px;
}
#boxes .box {
    float: left;
    width:30%;
    padding:10px;
    text-align: center;
}
#boxes .box img{
    width:90px;
}
footer{
    padding:20px;
    margin-top:20px;
    color:#fff;
    background:#e8491d;
    text-align: center;
}
aside#sidebar{
    float:right;
    width:30%;
    margin-top:10px;
  }
  
  aside#sidebar .quote input, aside#sidebar .quote textarea{
    width:90%;
    padding:5px;
  }
  
  /* Main-col */
  article#main-col{
    float:left;
    width:65%;
  }
  
  /* Services */
  ul#services li{
    list-style: none;
    padding:20px;
    border: #cccccc solid 1px;
    margin-bottom:5px;
    background:#e6e6e6;
  }
  
  footer{
    padding:20px;
    margin-top:20px;
    color:#ffffff;
    background-color:#e8491d;
    text-align: center;
  }